{{>header}}
<div class="container">
    <div class="info-container info-balance wrapper">
        <div class="info-fields fields">
            <div class="info-field-item field-item">
                <h6>Income</h6>
                <p>0</p>
            </div>
            <div class="item-border">

            </div>
            <div class="info-field-item field-item">
                <h6>Expenses</h6>
                <p>0</p>
            </div>
            <div class="item-border">

            </div>
            <div class="info-field-item field-item">
                <h6>Balance</h6>
                <p>0</p>
            </div>
        </div>
    </div>
    <div class="transaction">

    </div>

    <div class='add-btn-container'>
        <div class='add-btn-wrapper'>
            <div class="add-btn add-btn-main fs-3">
                +
            </div>
        </div>
    </div>

</div>
<div class="modal">
    <div class="overlay">
    </div>
    {{>addModal}}
    {{>loginModal}}
    {{>addExpenseCat}}
    {{>amountMoney}}
</div>

{{>footer}}