@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background: #1f1a25;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #1f1a25;
  text-decoration: none;
  list-style-type: none;

  h6{
    font-size: 14px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  p{
    margin-block-end: 0;
    margin-block-start: 0.5rem;
  }


}
.container{
  margin-top: 20px;
}
header{
  nav{
    padding: 0.5rem 0;
    background: #ffe593;
    ul{
      margin: 0;
      display: flex;
      justify-content: end;
      align-items: center;
      list-style-type: none;
      padding: 0 2.5rem;
      button{
        padding: 5px 20px;
        border-radius: 5px;
        border: 1px solid #1f1a25;
        background: #1f1a25;
        color: #f9f9f9;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}
.wrapper{
  align-items: center;
  padding: 10px 10%;
  //width: 50%;
  margin:auto;
  .fields{
    align-items: center;
    text-align: center;
    background-color: #ffe593;
    padding: 2rem 10%;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    .field-item{

    }
  }
  .item-border{
    border-right: 1px solid #1f1a25;
    height: 2rem;
    border-width: thin;
  }
}
.add-btn-container{
  .add-btn-wrapper{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    .add-btn{
      cursor: pointer;
      background-color: #1f1a25;
      border: 2px solid;
      color:  #ffe593;;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      /* text-align: center; */
      align-items: center;
      justify-content: center;
      font-weight: 500;
    }
  }
}
.modal{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  .overlay{
    background-color: #000000c7;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  .amount-money-modal{
    border:1px solid #ffe593;
    position: fixed;
    z-index: 99;
    bottom: 0;
    margin-left: 20px;
    transform: translateY(100%);
    .amount-money-container{
      display:flex;
      justify-content:space-between;
      align-items: center;
      input{
        width: 35%;
        height: 30px;
        border:1px solid #ffe593;
        background: #1f1a25;
        color: #ffe593;
        outline: none;
      }
      button{
        &.selected{
          outline:none;
          background: #1f1a25;
          color: #ffe593;
          width: 10%;
          height: 30px;
          border-radius: 0.25em 0 0 0;
          padding: 0;
          border: 0;
        }
      }
    }


  }
  &-container{
    width: 90%;
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color: #1f1a25;
    .modal-wrapper{

        .modal-header{
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #1f1a25;
          list-style-type: none;
          padding: 0;
          margin: 0;
          li{
            width: 50%;
            margin: 0;
            padding: 0;
            border: 0;
            vertical-align: baseline;
            text-align: center;
            button{
              width: 100%;
              height: 70px;
              line-height: 70px;
              background: #383140;
              border-radius: 0.25em 0 0 0;
              padding: 0;
              color: #bdb9b9;
              border: 0;
              &.selected{
                background: #1f1a25;
                color: #ffe593;
              }
            }
          }
          div{
            padding: 1rem;
            background-color: #f9f9f9;
            //width: 30%;
            text-align: center;
            cursor: pointer;
            &:hover{
              background-color: #ccc;
            }
          }
        }
        .modal-content{
          overflow-x:auto;
          padding: 1rem 0.5rem;
          .icon{
            width: 30px;
            height: 30px;
            font-size: 20px;
            .material-icons-outlined{
              font-size: 20px;
            }
          }
        }
      }

  }
}


.icon{
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.expense-container{
  .expense-info{
    background-color: #f3f3f3;
    border-radius: 0.5rem 0.5rem 0 0;
    font-size: 12px;
    padding: 0.5rem 10%;
    display: flex;
    justify-content: space-between;
  }
  .expense-fields{
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 1rem 8%;
    display: block;
    position:relative;
    &-item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-name{
        display: flex;
        align-items: center;

        .icon{
          width: 30px;
          height: 30px;
          margin-right: 10px;
          .material-icons{
            font-size: 20px;
          }
        }
      }
      .memo{
        font-size: 10px;
        position: absolute;
        left: 30%;
        bottom: 10%;
      }
    }
  }
}
.material-icons-outlined{
  color: #1f1a25;
}
//modals



.grid-4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.add-expenses-cat{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
.category-name-inp{
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffe593;
  outline: none;
  color: #ffe593;
}
  .add-expenses-menu{
    display: flex;
    justify-content: space-between;
    width: 100% !important;
    button{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.expense-icons-grid{
  .cat-cont{
    width: 30px;
    margin: auto;
  }
  input[type=radio]{
    display: none;

  }
  input[type=radio]:checked + label{
    .icon{
        border-radius: 0;
    }
  }
  .icon{
    margin: auto;
    &:hover{
      border-radius: 0;
    }
  }

}
.add-modal{
  display: none;



  .modal-content{
    height: 500px;

  }
  .cat-cont{
    text-align: center;
    .add-btn-wrapper{
      .add-btn{
        background: transparent;
        border: 1px dashed;
        color: #ffe593;
        font-size: 2rem;
      }
    }
    .icon{
      margin: auto;
    }
    .cat-name{
      color: #ffe593;
      font-size: 10px;
    }
  }
}
.login-modal{
  display: none;
  .text-input{
    position: relative;
    margin-top: 20px;
    .inputwithlabel {
      display: inline-block;
      width: 100%;

      height: 40px;
      box-sizing: border-box;
      outline: none;
      border: 1px solid lightgray;
      //border-radius: 3px;
      padding: 10px 10px 10px 150px;
      transition: all 0.1s ease-out;
    }

    .inputwithlabel + label {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      height: 40px;
      width: 30%;
      line-height: 40px;
      color: #ffe593;
      //border-radius: 3px 0 0 3px;
      padding: 0 20px;
      background: #1f1a25;;
      transform: translateZ(0) translateX(0);
      transition: all 0.3s ease-in;
      transition-delay: 0.2s;
    }

    .inputwithlabel:focus + label {
      transform: translateY(-120%) translateX(0%);
      border-radius: 3px;
      transition: all 0.1s ease-out;
    }
  }

.login-container{
  display: none;
}
  .register-container{
    display: none;
  }
}
.is-active{
  display: block !important;
}
.expenses-menu{
  display: none;
}
.income-menu{
  display: none;
}
.btn{
  margin-top: 20px;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  width: 100%;
}
.submit-btn{

  box-shadow: inset 0 0 0 4px #ffe593;
  color: #ffe593;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  &:hover{
    color: #ffe593;
  }
}
.other-btn{
  margin-top: 0;
  font-size: 12px;
  box-shadow: inset 0 0 0 4px #1f1a25;
  color: #1f1a25;
  transition: color 0.25s 0.0833333333s;
  position: relative;

}

// for
@for $i from 0 through 20 {
  $value: $i;
  .fs-#{$i} {
    font-size: $i +rem;
  }
}
