@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background: #1f1a25;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #1f1a25;
  text-decoration: none;
  list-style-type: none;
}
body h6 {
  font-size: 14px;
  margin-block-start: 0;
  margin-block-end: 0;
}
body p {
  margin-block-end: 0;
  margin-block-start: 0.5rem;
}

.container {
  margin-top: 20px;
}

header nav {
  padding: 0.5rem 0;
  background: #ffe593;
}
header nav ul {
  margin: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style-type: none;
  padding: 0 2.5rem;
}
header nav ul button {
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid #1f1a25;
  background: #1f1a25;
  color: #f9f9f9;
  font-weight: 700;
  text-transform: uppercase;
}

.wrapper {
  align-items: center;
  padding: 10px 10%;
  margin: auto;
}
.wrapper .fields {
  align-items: center;
  text-align: center;
  background-color: #ffe593;
  padding: 2rem 10%;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
}
.wrapper .item-border {
  border-right: 1px solid #1f1a25;
  height: 2rem;
  border-width: thin;
}

.add-btn-container .add-btn-wrapper {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}
.add-btn-container .add-btn-wrapper .add-btn {
  cursor: pointer;
  background-color: #1f1a25;
  border: 2px solid;
  color: #ffe593;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}
.modal .overlay {
  background-color: #000000c7;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.modal .amount-money-modal {
  border: 1px solid #ffe593;
  position: fixed;
  z-index: 99;
  bottom: 0;
  margin-left: 20px;
  transform: translateY(100%);
}
.modal .amount-money-modal .amount-money-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .amount-money-modal .amount-money-container input {
  width: 35%;
  height: 30px;
  border: 1px solid #ffe593;
  background: #1f1a25;
  color: #ffe593;
  outline: none;
}
.modal .amount-money-modal .amount-money-container button.selected {
  outline: none;
  background: #1f1a25;
  color: #ffe593;
  width: 10%;
  height: 30px;
  border-radius: 0.25em 0 0 0;
  padding: 0;
  border: 0;
}
.modal-container {
  width: 90%;
  display: flex;
  margin: auto;
  flex-direction: column;
  background-color: #1f1a25;
}
.modal-container .modal-wrapper .modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #1f1a25;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.modal-container .modal-wrapper .modal-header li {
  width: 50%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-align: center;
}
.modal-container .modal-wrapper .modal-header li button {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: #383140;
  border-radius: 0.25em 0 0 0;
  padding: 0;
  color: #bdb9b9;
  border: 0;
}
.modal-container .modal-wrapper .modal-header li button.selected {
  background: #1f1a25;
  color: #ffe593;
}
.modal-container .modal-wrapper .modal-header div {
  padding: 1rem;
  background-color: #f9f9f9;
  text-align: center;
  cursor: pointer;
}
.modal-container .modal-wrapper .modal-header div:hover {
  background-color: #ccc;
}
.modal-container .modal-wrapper .modal-content {
  overflow-x: auto;
  padding: 1rem 0.5rem;
}
.modal-container .modal-wrapper .modal-content .icon {
  width: 30px;
  height: 30px;
  font-size: 20px;
}
.modal-container .modal-wrapper .modal-content .icon .material-icons-outlined {
  font-size: 20px;
}

.icon {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense-container .expense-info {
  background-color: #f3f3f3;
  border-radius: 0.5rem 0.5rem 0 0;
  font-size: 12px;
  padding: 0.5rem 10%;
  display: flex;
  justify-content: space-between;
}
.expense-container .expense-fields {
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1rem 8%;
  display: block;
  position: relative;
}
.expense-container .expense-fields-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.expense-container .expense-fields-item-name {
  display: flex;
  align-items: center;
}
.expense-container .expense-fields-item-name .icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.expense-container .expense-fields-item-name .icon .material-icons {
  font-size: 20px;
}
.expense-container .expense-fields-item .memo {
  font-size: 10px;
  position: absolute;
  left: 30%;
  bottom: 10%;
}

.material-icons-outlined {
  color: #1f1a25;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.add-expenses-cat {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.add-expenses-cat .category-name-inp {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffe593;
  outline: none;
  color: #ffe593;
}
.add-expenses-cat .add-expenses-menu {
  display: flex;
  justify-content: space-between;
  width: 100% !important;
}
.add-expenses-cat .add-expenses-menu button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense-icons-grid .cat-cont {
  width: 30px;
  margin: auto;
}
.expense-icons-grid input[type=radio] {
  display: none;
}
.expense-icons-grid input[type=radio]:checked + label .icon {
  border-radius: 0;
}
.expense-icons-grid .icon {
  margin: auto;
}
.expense-icons-grid .icon:hover {
  border-radius: 0;
}

.add-modal {
  display: none;
}
.add-modal .modal-content {
  height: 500px;
}
.add-modal .cat-cont {
  text-align: center;
}
.add-modal .cat-cont .add-btn-wrapper .add-btn {
  background: transparent;
  border: 1px dashed;
  color: #ffe593;
  font-size: 2rem;
}
.add-modal .cat-cont .icon {
  margin: auto;
}
.add-modal .cat-cont .cat-name {
  color: #ffe593;
  font-size: 10px;
}

.login-modal {
  display: none;
}
.login-modal .text-input {
  position: relative;
  margin-top: 20px;
}
.login-modal .text-input .inputwithlabel {
  display: inline-block;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid lightgray;
  padding: 10px 10px 10px 150px;
  transition: all 0.1s ease-out;
}
.login-modal .text-input .inputwithlabel + label {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 30%;
  line-height: 40px;
  color: #ffe593;
  padding: 0 20px;
  background: #1f1a25;
  transform: translateZ(0) translateX(0);
  transition: all 0.3s ease-in;
  transition-delay: 0.2s;
}
.login-modal .text-input .inputwithlabel:focus + label {
  transform: translateY(-120%) translateX(0%);
  border-radius: 3px;
  transition: all 0.1s ease-out;
}
.login-modal .login-container {
  display: none;
}
.login-modal .register-container {
  display: none;
}

.is-active {
  display: block !important;
}

.expenses-menu {
  display: none;
}

.income-menu {
  display: none;
}

.btn {
  margin-top: 20px;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  width: 100%;
}

.submit-btn {
  box-shadow: inset 0 0 0 4px #ffe593;
  color: #ffe593;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.submit-btn:hover {
  color: #ffe593;
}

.other-btn {
  margin-top: 0;
  font-size: 12px;
  box-shadow: inset 0 0 0 4px #1f1a25;
  color: #1f1a25;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.fs-0 {
  font-size: 0rem;
}

.fs-1 {
  font-size: 1rem;
}

.fs-2 {
  font-size: 2rem;
}

.fs-3 {
  font-size: 3rem;
}

.fs-4 {
  font-size: 4rem;
}

.fs-5 {
  font-size: 5rem;
}

.fs-6 {
  font-size: 6rem;
}

.fs-7 {
  font-size: 7rem;
}

.fs-8 {
  font-size: 8rem;
}

.fs-9 {
  font-size: 9rem;
}

.fs-10 {
  font-size: 10rem;
}

.fs-11 {
  font-size: 11rem;
}

.fs-12 {
  font-size: 12rem;
}

.fs-13 {
  font-size: 13rem;
}

.fs-14 {
  font-size: 14rem;
}

.fs-15 {
  font-size: 15rem;
}

.fs-16 {
  font-size: 16rem;
}

.fs-17 {
  font-size: 17rem;
}

.fs-18 {
  font-size: 18rem;
}

.fs-19 {
  font-size: 19rem;
}

.fs-20 {
  font-size: 20rem;
}

/*# sourceMappingURL=main.css.map */
