<div class="modal-container add-expenses-cat" data-type="">
    <div class="modal-wrapper">
        <ul class="modal-header">
            <li class="add-expenses-menu ">
                <button class="selected back-from-add-exp-cat">
                  <span class="material-icons">
west
</span>
                </button>
                <button class="selected" style="font-size: 12px">
                    <span id="add-cat-modal-title">Add Expense Category</span>

                </button>
                <button class="selected" id="done-expense-cat" data-type="expense">
                    <span class="material-icons">
                    done_outline
                    </span>
                </button>
            </li>
        </ul>
        <div class="modal-content">
            <div class="category-name">
                <input name="category-name" class="category-name-inp" placeholder="Category Name">
            </div>
            <div class="expenses-icons-menu">
                <div class="grid-4 expense-icons-grid">


                </div>

            </div>
        </div>

    </div>
</div>