<div class="modal-container add-modal">
    <div class="modal-wrapper">
        <ul class="modal-header">
            <li class="add-expenses-menu">
                <button class="selected" id="expenses-tab">
                    Expenses
                </button>
            </li>
            <li class="add-income-menu">
                <button id="income-tab">
                    Income
                </button>
            </li>
        </ul>
        <div class="modal-content">
            <div class="expenses-menu is-active">
                <div class="grid-4">


                </div>

            </div>
            <div class="income-menu">
                <div class="grid-4">

                </div>
            </div>
        </div>
    </div>
</div>