
<div class="modal-container amount-money-modal">

    <div class="modal-wrapper">

        <div class="modal-content">
            <div class="amount-money">
                <div class="amount-money-container">
                    <div class="amount-icon"></div>
                    <input type="text" placeholder="memo (optional)" id="amount-memo"><input type='number' placeholder="amount" id="amount-amount">
                    <button class="selected" id="insert-cat-amount">
                    <span class="material-icons">
                    done_outline
                    </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>