<div class="expense-container wrapper">
    <div class="expense-info">
        <div class="expense-date">

            {{time}}
        </div>
        <div class="expense-amount">
            {{type_amount}}:{{amount}}
        </div>
    </div>
    <div class="expense-fields fields">
        <div class="expense-fields-item field-item">
            <div class="expense-fields-item-name">
                <div class="icon" style="background: {{icon_color}}">
                    <span class="material-icons-outlined">{{icon_name}}</span>
                </div>
                <h6>{{cat_name}}</h6>


            </div>
            <div class="expense-fields-item-amount">
                {{amount}}
                <p class="memo"> {{memo}}</p>
            </div>
        </div>
    </div>
</div>