<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Your Expenses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/front.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
          rel="stylesheet">
</head>

<body>

<header>
    <nav>
        <ul>
            {{#if user_id}}
                <li>
                    <button class=" btn other-btn">

                        Welcome <br>
                        {{user_email}}
                    </button>
                </li>

            {{else}}
                <li>
                    <button class="login-btn btn other-btn">

                        login
                    </button>
                </li>
            {{/if}}


        </ul>
    </nav>
</header>