
    <div class="info-fields fields">
        <div class="info-field-item field-item">
            <h6>Income</h6>
            <p>{{totalIncome}}</p>
        </div>
        <div class="item-border">

        </div>
        <div class="info-field-item field-item">
            <h6>Expenses</h6>
            <p>{{totalExpense}}</p>
        </div>
        <div class="item-border">

        </div>
        <div class="info-field-item field-item">
            <h6>Balance</h6>
            <p>{{Balance}}</p>

        </div>
    </div>
