<div class="modal-container login-modal">
    <div class="modal-wrapper">
        <ul class="modal-header">

            <li>
                <button class="selected" id="login-tab">Log in</button>
            </li>
            <li>
                <button id="signup-tab">New account</button>
            </li>

        </ul>
        <div class="modal-content">
            <div class="login-form">
                <form id="login-form">

                <div class="text-input">
                    <input type="email" name="email" class="inputwithlabel" id="user-email">
                    <label>E-mail:</label>
                </div>

                <div class="text-input">
                    <input type="password" name="password" class="inputwithlabel" id="user-password">
                    <label>Password:</label>
                </div>

                </form>
                <div class="login-container is-active">
                    <button type="button" class="btn submit-btn " id="user-login-btn">
                        Log in
                    </button>
                </div>
                <div class="register-container">
                    <button type="button" class="btn submit-btn " id="user-register-btn">
                        Register
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>